noscript p {
    padding: 2rem;
    background-color: gold;
    font-weight: bold;
}

button {
    -webkit-appearance: none !important;
}

.square {
    margin-top: 1em;
    height: 250px;
    width: 250px;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}