noscript p {
    padding: 2rem;
    background-color: gold;
    font-weight: bold;
}

.bigger {
    font-weight: bold;
    font-size: 2em;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

.pink-background {
    background-color: pink;
}